<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="linear_slider">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import linear_slider urdf file -->
    <xacro:include filename="$(find linear_slider_description)/urdf/linear_slider.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="linear_slider.ros2_control.xacro" />


    <xacro:linear_slider_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
