<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="linear_slider">

    <!-- Use this if parameters are set from the launch file, otherwise delete -->
    <xacro:arg name="prefix" default="''" />
    <xacro:arg name="use_mock_hardware" default="false" />
    <xacro:arg name="mock_sensor_commands" default="false" />
    <xacro:arg name="sim_gazebo" default="false" />
    <xacro:arg name="sim_gazebo_classic" default="false"/>
    <!-- <xacro:arg name="simulation_controllers" default="" /> -->
    

    <!-- Robot description -->
    <xacro:include filename="$(find linear_slider_description)/urdf/linear_slider/linear_slider_macro.xacro"/>
    <xacro:include filename="$(find linear_slider_description)/urdf/linear_slider/linear_slider.ros2_control.xacro"/>

    <!-- World link -->
    <link name="world" />

    <!-- Macro information -->
    <xacro:linear_slider_macro prefix="$(arg prefix)" parent="world">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:linear_slider_macro>

    <!-- ros2_control -->
    <xacro:linear_slider_ros2_control
        name="linear_slider_ros2_control"
        prefix="$(arg prefix)"
        initial_state_file="$(find linear_slider_description)/config/initial_state.yaml"
        sim_gazebo="$(arg sim_gazebo)"
        sim_gazebo_classic="$(arg sim_gazebo_classic)"
        use_mock_hardware="$(arg use_mock_hardware)"
        mock_sensor_commands="$(arg mock_sensor_commands)"
    />

    <xacro:if value="$(arg sim_gazebo_classic)"> 
        <!-- ================== -->
        <!--   Gazebo Classic   -->
        <!-- ================== -->    

        <gazebo reference="$(arg prefix)base_link">
            <static>true</static>
        </gazebo>
        <gazebo>
            <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
                <robot_param>robot_description</robot_param>
                <robot_param_node>robot_state_publisher</robot_param_node>
                <parameters>$(find linear_slider_bringup)/config/linear_slider_controllers.yaml</parameters>
                <!-- <parameters>$(arg simulation_controllers)</parameters> -->
            </plugin>
            <!-- <sensor name="lim_switch_neg">
                <always_on>1</always_on>
            </sensor>
            <sensor name="lim_switch_pos">
                <always_on>1</always_on>
            </sensor> -->
        </gazebo>
    </xacro:if>

    <xacro:if value="$(arg sim_gazebo)">
        <!-- ================== -->
        <!--  Gazebo Ignition   -->
        <!-- ================== -->
        <gazebo reference="world"/>
        <gazebo>
            <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
                <parameters>$(find linear_slider_bringup)/config/linear_slider_controllers.yaml</parameters>
                <controller_manager_node_name>$(arg prefix)controller_manager</controller_manager_node_name>
            </plugin>
        </gazebo>
    </xacro:if>
</robot>